html, body{
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}
#container{
    width: 1024px;
    margin: 0 auto;
}
.header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
}
.header div{
    width: 1024px;
    margin: 0 auto;
}
.header h1{
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    float: left;
}
.header h1 .today{
    color: #8acfdb;
}
.header h1 .food{
    color: #df2e2c;
}
.header input{
    width: 300px;
    height: 40px;
    outline: none;
    padding: 5px;
    font-size: 20px;
    background-color: #eee;
    border: 1px solid #eee;
    margin: 8px 0 0 30px;
    float: left;
}
.header input:focus{
    background-color: #fff;
}
.header button{
    height: 52px;
    width: 82px;
    float: left;
    background-color: #df2e2c;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
    opacity: 0.7;
    margin-right: 10px;
}
.header button:hover{
    opacity: 1;
    outline: none;
}
.list{
    margin-top: 70px;
}
.list li{
    height: 200px;
    padding: 30px 0;
}
.list li .list-img{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}
.list li .list-img img{
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}
.list li .list-img img:hover{
    transform: scale(1.2);
}
.list li .list-desc{
    float: left;
    width: 800px;
    margin-left: 24px;
}
.list li .list-desc h4{
    font-size: 30px;
    margin-bottom: 20px;
    color: #666;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal .no-extension{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
}
.hide{
    display: none;
}
.add .add-container{
    height: 523px;
    width: 600px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.add .add-container h3{
    line-height: 40px;
    font-size: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #f3f3f3;
}
.add .add-container h3 span{
    float: right;
    margin-right: 30px;
    cursor: pointer;
}
.add .add-container p{
    margin: 15px 30px;
}
.add .add-container p input{
    height: 30px;
    width: 528px;
    padding: 5px;
    outline: none;
}
.add .add-container p textarea{
    width: 528px;
    height: 120px;
    resize: none;
    padding: 5px;
    outline: none;
}
.add .add-container div{
    height: 40px;
    text-align: right;
}
.add .add-container div button{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
.add .add-container div button.primary{
    background-color: #8acfdb;
    color: #fff;
    border: 1px solid #8acfdb;
    margin-right: 10px;
}
.add .add-container div button.primary:hover{
    opacity: 0.8;
}
.add .add-container div button.white{
    background-color: #fff;
    color: #aaa;
    border: 1px solid #ccc;
    margin-right: 30px;
}
add .add-container div button.white:hover{
    background-color: #ccc;
}
.no-data{
    margin-top: 170px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}